body{
    background-color: blue;
    text-align: center;
}

h1{
    color: yellow;
}
h2{
    color: yellow;
}
a{
    color: yellow;
}
p{
    color: yellow;
    font-size: 1.5em;
}
h3{
    color: yellow;
}
#b1{
    text-align: left;
    padding-left: 100px;
}
body{
    margin: 0;
}
header{
    background-color: darkblue;
}
