body{
    min-height: 100vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

h1{
    color: yellow;
}
h2{
    color: yellow;
}
a{
    color: yellow;
}
p{
    color: yellow;
    font-size: 1.5em;
}
h3{
    color: yellow;
}
#b1{
    text-align: left;
    padding-left: 100px;
}
header{
    padding: 15px;
    display: flex;
    justify-content:first baseline;
    align-items: baseline;
    background-color: darkblue;
}

nav{
    padding: 10px;
    margin: 25px;
    font-size: 25px;
}
footer{
    margin-top: auto;
    padding-left: 10px;
}
#div1{
    padding-left: 10px;
}